django==2.0.7
django-loginas==0.3.6
pyramda==0.1
graphene==2.1.8
graphene-django==2.5.0
snapshottest==0.5.1
inflection==0.3.1
deepmerge==0.0.5
bumpversion==0.5.3
djangorestframework==3.9.4
djangorestframework-jwt==1.11.0
psycopg2-binary==2.8.3
django-graphql-jwt==0.2.2
wheel==0.33.6
twine==1.13.0
utils==0.9.0
simplejson==3.16.0
jsonfield===2.0.2
rescape-graphene==0.2.71
rescape-python-helpers==0.0.25
pytest==4.6.5
pytest-cov==2.7.1
pytest-django==3.5.1
django-safedelete==0.5.2
