Django==3.0.7
django-environ==0.4.5
django-filter==2.3.0
django-filters==0.2.1
django-graphql-geojson==0.1.4
django-graphql-jwt==0.3.1
django-loginas==0.3.8
django-safedelete==0.5.5
djangorestframework==3.11.0
djangorestframework-jwt==1.11.0
docutils==0.16
fastdiff==0.2.0
future==0.18.2
graphene==2.1.8
graphene-django==2.11.0
graphql-core<3
graphql-relay<3
html5lib==1.1
idna==2.9
importlib-metadata==1.6.1
inflection==0.5.0
iso8601==0.1.12
Jinja2==2.11.2
jsonfield==3.1.0
keyring==21.2.1
MarkupSafe==1.1.1
more-itertools==8.4.0
numpy==1.19.0
packaging==20.4
pandas==1.0.5
Pillow==7.1.2
pkginfo==1.5.0.1
pluggy==0.13.1
promise==2.3
psycopg2-binary==2.8.5
py==1.9.0
pycparser==2.20
Pygments==2.6.1
PyJWT==1.7.1
pyparsing==2.4.7
Pyphen==0.9.5
pyramda==0.1
pytest==5.4.3
pytest-cov==2.10.0
pytest-django==3.9.0
python-dateutil==2.8.1
pytz==2020.1
readme-renderer==26.0
requests==2.24.0
requests-toolbelt==0.9.1
rescape-graphene==0.3.16
rescape-python-helpers==0.0.34
Rx==3.1.0
simplejson==3.17.0
singledispatch==3.4.0.3
six==1.15.0
snapshottest==0.5.1
sqlparse==0.3.1
termcolor==1.1.0
tinycss2==1.0.2
tqdm==4.46.1
twine==3.2.0
typing==3.7.4.1
urllib3==1.25.9
utils==1.0.1
wasmer==0.4.1
wcwidth==0.2.5
WeasyPrint==51
webencodings==0.5.1
zipp==3.1.0
django-reversion==3.0.7
django-reversion-compare==0.12.2
pur==5.3.0
